@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-fixed: #dbe1ff;
    --color-surface-container-highest: #e1e3e4;
    --color-primary-fixed-dim: #b4c5ff;
    --color-outline: #737686;
    --color-on-secondary-container: #596372;
    --color-error-container: #ffdad6;
    --color-on-error: #ffffff;
    --color-secondary-container: #d6e0f1;
    --color-tertiary-fixed: #ffdbcd;
    --color-on-secondary: #ffffff;
    --color-inverse-primary: #b4c5ff;
    --color-background: #f8f9fa;
    --color-on-tertiary: #ffffff;
    --color-primary-container: #2563eb;
    --color-surface-bright: #f8f9fa;
    --color-secondary: #555f6d;
    --color-on-surface-variant: #434655;
    --color-primary: #004ac6;
    --color-surface-dim: #d9dadb;
    --color-on-primary-container: #eeefff;
    --color-surface-variant: #e1e3e4;
    --color-surface-container-high: #e7e8e9;
    --color-on-tertiary-fixed-variant: #7d2d00;
    --color-on-primary-fixed-variant: #003ea8;
    --color-secondary-fixed: #d9e3f4;
    --color-surface-container: #edeeef;
    --color-error: #ba1a1a;
    --color-on-secondary-fixed-variant: #3e4755;
    --color-on-primary: #ffffff;
    --color-surface-container-low: #f3f4f5;
    --color-outline-variant: #c3c6d7;
    --color-tertiary-container: #bc4800;
    --color-surface-container-lowest: #ffffff;
    --color-on-surface: #191c1d;
    --color-surface-tint: #0053db;
    --color-inverse-surface: #2e3132;
    --color-on-error-container: #93000a;
    --color-tertiary-fixed-dim: #ffb596;
    --color-on-tertiary-fixed: #360f00;
    --color-on-background: #191c1d;
    --color-tertiary: #943700;
    --color-surface: #f8f9fa;
    --color-on-secondary-fixed: #121c28;
    --color-on-tertiary-container: #ffede6;
    --color-on-primary-fixed: #00174b;
    --color-secondary-fixed-dim: #bdc7d8;
    --color-inverse-on-surface: #f0f1f2;
  }

  .dark {
    --color-primary-fixed: #dbe1ff;
    --color-surface-container-highest: #323536;
    --color-primary-fixed-dim: #b4c5ff;
    --color-outline: #8d9199;
    --color-on-secondary-container: #d6e0f1;
    --color-error-container: #93000a;
    --color-on-error: #690005;
    --color-secondary-container: #3e4755;
    --color-tertiary-fixed: #ffdbcd;
    --color-on-secondary: #273141;
    --color-inverse-primary: #004ac6;
    --color-background: #111314;
    --color-on-tertiary: #501a00;
    --color-primary-container: #003ea8;
    --color-surface-bright: #36393a;
    --color-secondary: #bdc7d8;
    --color-on-surface-variant: #c3c6d7;
    --color-primary: #b4c5ff;
    --color-surface-dim: #111314;
    --color-on-primary-container: #dbe1ff;
    --color-surface-variant: #43474e;
    --color-surface-container-high: #272a2b;
    --color-on-tertiary-fixed-variant: #7d2d00;
    --color-on-primary-fixed-variant: #003ea8;
    --color-secondary-fixed: #d9e3f4;
    --color-surface-container: #1d2021;
    --color-error: #ffb4ab;
    --color-on-secondary-fixed-variant: #3e4755;
    --color-on-primary: #002a78;
    --color-surface-container-low: #191c1d;
    --color-outline-variant: #43474e;
    --color-tertiary-container: #722600;
    --color-surface-container-lowest: #0c0e0f;
    --color-on-surface: #e1e3e4;
    --color-surface-tint: #b4c5ff;
    --color-inverse-surface: #e1e3e4;
    --color-on-error-container: #ffdad6;
    --color-tertiary-fixed-dim: #ffb596;
    --color-on-tertiary-fixed: #360f00;
    --color-on-background: #e1e3e4;
    --color-tertiary: #ffb596;
    --color-surface: #111314;
    --color-on-secondary-fixed: #121c28;
    --color-on-tertiary-container: #ffdbcd;
    --color-on-primary-fixed: #00174b;
    --color-secondary-fixed-dim: #bdc7d8;
    --color-inverse-on-surface: #2e3132;
  }

  body {
    font-family: 'Geist', sans-serif;
    background-color: var(--color-surface-container-lowest);
    color: var(--color-on-surface);
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
}

.input-focus-ring:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(180, 197, 255, 0.2);
}
